.frontpage-cycle {
  max-width: 1080px;
  margin: 0 auto;
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;

  h2 {
    span {
      color: #19969a;
    }
  }

  &-image {
    margin-right: 50px;
    width: 300px;

    img {
      max-width: 100%;
    }
  }

  &-desc {
    flex: 1;
    font-size: 20px;

    .how {
      color: #19969a;
      font-weight: 600;
      margin-top: 20px;
    }
  }

  @media all and (max-width: 1180px) {
    padding: 0 30px;
  }

  @media all and (max-width: 1024px) {
    padding: 90px 30px;
    height: auto;
  }

  @media all and (max-width: 767px) {
    padding: 50px 30px;
    flex-direction: column-reverse;
    text-align: center;

    &-desc {
      font-size: 16px;
    }

    &-image {
      margin-right: 0;
      margin-top: 40px;
    }
  }

  @media all and (max-width: 400px) {
    h2 {
      font-size: 25px;
    }
  }
}
