.frontpage-faq {
  color: #19969a;
  display: flex;
  flex-direction: column;
  align-items: center;

  .subtitle {
    color: #e72686;
    font-size: 22px;
    border: 2px solid #e72686;
    border-radius: 15px;
    padding: 8px 100px;
    margin-bottom: 50px;
    margin-top: 40px;
  }

  h2 {
    font-size: 120px;
    font-weight: 800;
  }

  .questions {
    font-size: 18px;
    transition: all 0.1s ease;

    li {
      list-style: none;
    }

    p {
      margin-bottom: 0;
      max-width: 80%;
    }

    .question {
      margin-bottom: 10px;
      transition: all 0.1s ease;

      &:hover {
        cursor: pointer;
      }

      &-ask {
        color: #e72686;
        font-weight: 600;
        margin-bottom: 6px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 0.1s ease;

        img {
          width: 20px;
        }
      }

      &-arrow {
        transition: all 0.1s ease;

        &-clicked {
          transform: rotate(180deg);
        }
      }

      &-answer {
        color: #3e3f40;
        height: 0;
        opacity: 0;
        transition: all 0.1s ease;

        &-visible {
          transition: all 0.1s ease;
          opacity: 1;
          height: auto;
          padding: 0 0 10px 0;
        }
      }
    }
  }
}
