.frontpage-process {
  text-align: center;
  margin: 120px auto;

  .swiper-button-next,
  .swiper-button-prev {
    color: black;
  }

  .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background-color: #1d9699;
    opacity: 0.2;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
  }

  .swiper-button-next {
    right: 25px;
  }

  .swiper-button-prev {
    left: 25px;
  }

  .swiper-button-next.swiper-button-disabled,
  .swiper-button-prev.swiper-button-disabled {
    transition: opacity 0.3s ease;
    opacity: 0;
  }

  .swiper-slide {
    &-wrapper {
      max-width: 1080px;
      margin: 0 auto;
    }
  }

  &-header {
    align-items: center !important;
    max-width: 700px;
    margin: 0 auto 30px auto;
    margin-top: 0 !important;

    .item-image {
      img {
        height: 85px;
      }
    }
  }

  .items {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 60px;
    width: 100%;

    .item {
      &-text {
        color: #23979a;
        font-size: 30px;
        font-weight: 800;
      }

      &-image {
        margin-bottom: 30px;

        &-transparent {
          opacity: 0.25;
        }
      }
    }
  }

  .row {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding: 0 70px;

    &-item {
      width: 30%;
      margin: 0 20px;

      &-check {
        color: #23979a;
      }

      &-cross {
        color: #e72283;
      }

      img {
        max-width: 100%;
      }

      p {
        margin-top: 30px;
        font-weight: 800;
      }
    }
  }

  .slide2 {
    display: flex;
    flex-direction: column;
    align-items: center;

    a,
    a:visited {
      margin-top: 20px;
      color: #23979a;
      text-decoration: underline;
    }
  }

  .slide3 {
    .row-item {
      width: auto;
      flex: 1;

      p {
        font-weight: 400;
        text-align: left;
        margin-top: 10px;
      }
    }
  }

  .slide4 {
    .row-item {
      p {
        color: black;
        font-weight: 500;
      }

      &:first-of-type {
        justify-content: flex-end;
      }

      &:last-of-type {
        align-items: center;
        display: flex;
      }
    }
  }

  .slide5 {
    img {
      margin-top: 40px;
      max-width: 500px;
    }
  }

  .slide-title {
    font-size: 50px;
    font-weight: 800;
    max-width: 90%;
    margin: 0 auto 10px auto;

    span {
      color: #23979a;
    }
  }

  .swiper-pagination {
    position: relative;
    margin-top: 50px;

    .swiper-pagination-bullet-active {
      background-color: #23979a;
    }
  }
}
