.frontpage-process {
  text-align: center;
  margin: 120px auto;
  position: relative;

  .frontpage-map {
    padding: 60px 0 64px 0;

    .wrap {
      .map {
        height: 395px;
      }
    }
  }

  .frontpage-map-arrow {
    display: none;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: black;
  }

  .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background-color: #1d9699;
    opacity: 0.2;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
  }

  .swiper-button-next {
    right: 25px;
  }

  .swiper-button-prev {
    left: 25px;
  }

  .swiper-button-next.swiper-button-disabled,
  .swiper-button-prev.swiper-button-disabled {
    transition: opacity 0.3s ease;
    opacity: 0;
  }

  .swiper-slide {
    &-wrapper {
      max-width: 1080px;
      margin: 0 auto;
    }
  }

  &-header {
    align-items: center !important;
    max-width: 700px;
    margin: 0 auto 30px auto;
    margin-top: 0 !important;

    .item-image {
      img {
        height: 85px;
      }
    }
  }

  .items {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 60px;
    width: 100%;

    .item {
      &-text {
        color: #23979a;
        font-size: 30px;
        font-weight: 800;
      }

      &-image {
        margin-bottom: 30px;

        &-transparent {
          opacity: 0.25;
        }
      }
    }
  }

  .row {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding: 0 70px;

    &-item {
      width: 30%;
      margin: 0 20px;

      &-check {
        color: #23979a;
      }

      &-cross {
        color: #e72283;
      }

      img {
        max-width: 100%;
      }

      p {
        margin-top: 30px;
        font-weight: 800;
      }

      .green {
        font-weight: 600 !important;
        color: #23979a;
      }
    }
  }

  .slide2 {
    display: flex;
    flex-direction: column;
    align-items: center;

    a,
    a:visited {
      margin-top: 20px;
      color: #23979a;
      text-decoration: underline;
    }
  }

  .slide3 {
    .question {
      font-weight: 600 !important;
      color: #23979a;
    }

    &-imgmob {
      display: none;
    }

    .row-item {
      width: auto;
      flex: 1;

      p {
        font-weight: 400;
        text-align: left;
        margin-top: 10px;
      }
    }
  }

  .slide5 {
    &-img {
      margin-top: 40px;
      max-width: 500px;
    }
  }

  .slide4 {
    .row-item {
      p {
        color: black;
        font-weight: 500;
      }

      &:first-of-type {
        justify-content: flex-end;
      }

      &:last-of-type {
        align-items: center;
        display: flex;
      }
    }
  }

  .slide-title {
    font-size: 50px;
    font-weight: 800;
    max-width: 90%;
    margin: 0 auto 10px auto;

    span {
      color: #23979a;
    }
  }

  .swiper-pagination {
    position: relative;
    margin-top: 50px;

    .swiper-pagination-bullet-active {
      background-color: #23979a;
    }
  }

  @media all and (max-width: 1180px) {
    margin: 50px auto;

    .frontpage-map {
      padding: 40px 30px 80px 30px;
      text-align: center;
    }

    .swiper-slide-wrapper {
      padding: 0 30px;
    }

    &-header {
      max-width: 400px;

      img {
        width: 10px;
      }

      .item {
        display: flex;
        align-items: center;
      }

      .item-image {
        margin-bottom: 0 !important;

        img {
          height: 40px;
          width: auto;
        }
      }
    }

    .slide2 {
      max-width: 700px;
    }

    h2 {
      font-size: 20px !important;
    }

    .slide-title {
      font-size: 35px !important;
    }

    .slide1 {
      .items {
        .item {
          &-text {
            font-size: 18px;
          }

          &-image {
            margin: 0 auto;

            img {
              height: 70px;
            }
          }
        }
      }
    }
  }

  @media all and (max-width: 700px) {
    .swiper-button-next::after,
    .swiper-button-prev::after {
      font-size: 20px;
    }

    .slide5 {
      img {
        max-width: 100%;
      }
    }

    .row {
      flex-direction: column;
      padding: 0 40px;

      &-item {
        width: 100%;
        margin: 0;

        &:last-of-type {
          margin-top: 20px;
        }
      }
    }

    .slide4 {
      .row-item {
        img {
          width: 120px !important;
        }
      }
    }

    .slide-title {
      max-width: 100%;
    }

    .slide1 {
      .items {
        flex-direction: column;
        align-items: center;

        .item {
          margin-bottom: 40px;
        }
      }
    }
  }

  @media all and (max-width: 480px) {
    &-header {
      max-width: 310px;
    }

    .slide3 {
      .row {
        margin-top: 0;
      }

      &-imgdesktop,
      &-textdesktop {
        display: none;
      }

      &-imgmob {
        display: block;
        margin-top: 40px;

        img {
          max-width: 100%;
        }
      }
    }

    .slide2 {
      .row-item {
        img {
          max-width: 70%;
        }
      }
    }

    .slide5-img {
      max-width: 90% !important;
    }

    .slide1 {
      .items {
        margin-top: 30px;

        .item {
          margin-bottom: 20px;

          &-image {
            img {
              height: 40px;
              margin-bottom: 15px;
            }
          }
        }
      }
    }
  }

  @media all and (max-width: 420px) {
    p {
      font-size: 12px;
    }

    .row {
      padding: 0 30px;
      margin-top: 0;
      flex-direction: column-reverse;

      &-item {
        margin-top: 0 !important;

        p {
          margin-top: 0;
          margin-bottom: 15px;
        }
      }
    }

    .frontpage-map {
      padding: 30px 30px 30px 30px;
      min-height: auto;

      .wrap {
        h2 {
          font-size: 14px !important;
        }
      }
    }

    .swiper-button-prev {
      left: 10px;
    }

    .swiper-button-next {
      right: 10px;
    }

    .slide-title {
      font-size: 18px !important;
    }

    .slide2 {
      a {
        font-size: 12px;
        margin-top: 8px;
      }
    }

    .slide3 {
      &-imgmob {
        margin-top: 20px;
      }
    }

    .slide4 {
      .row-item {
        img {
          width: 90px !important;
        }
      }
    }

    .swiper-pagination {
      margin-top: 0;
    }

    .swiper-pagination-bullet {
      width: 8px;
      height: 8px;
      margin: 0 2px !important;
    }

    .slide1 {
      .items {
        .item {
          &-text {
            font-size: 14px;

            br {
              display: none;
            }
          }
        }
      }
    }
  }
}
