.frontpage-header {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1080px;
  margin: 0 auto;
  min-height: calc(100vh - 97px);

  &-image {
    margin-right: 50px;
    width: 600px;

    img {
      max-width: 100%;
    }
  }

  h2 {
    font-weight: 800;
    margin-bottom: 40px;

    span {
      color: #199699;
    }
  }

  &-desc {
    .buttons {
      margin-top: 60px;
      display: flex;

      a {
        border-radius: 10px;
        padding: 5px 15px;
        font-weight: 700;
        transition: all 0.3s ease;

        &:hover {
          text-decoration: none;
          transform: scale(0.95);
        }
      }

      .button-green {
        background-color: #19969a;
        color: white;
        margin-right: 15px;
        border: none;
      }

      .button-white {
        background-color: white;
        border: 2px solid #19969a;
        color: #19969a;
        text-align: center;
      }
    }
  }

  @media all and (max-width: 1180px) {
    padding: 0 30px;
  }

  @media all and (max-width: 767px) {
    flex-direction: column-reverse;
    min-height: calc(100vh - 62px);
    padding: 30px 22px;
    text-align: center;

    h2 {
      margin-bottom: 15px;
    }

    &-desc {
      display: flex;
      flex-direction: column;
      align-items: center;

      .buttons {
        margin-top: 30px;
      }
    }

    &-image {
      margin-top: 40px;
      width: 90%;
      margin-right: auto;
      margin-left: auto;
    }
  }

  @media all and (max-width: 400px) {
    font-size: 14px;

    h2 {
      font-size: 25px;
    }
  }

  @media all and (max-width: 350px) {
    a {
      font-size: 12px;
    }
  }
}
