.frontpage-glitter {
  text-align: center;

  .swiper-button-next,
  .swiper-button-prev {
    color: black;
  }

  .swiper-pagination {
    position: relative;
    margin-top: 50px;

    .swiper-pagination-bullet-active {
      background-color: #23979a;
    }
  }

  .swiper-slide {
    h3 {
      margin-top: 20px;
      font-weight: 800;
      font-size: 50px;

      span {
        color: #23979a;
      }
    }

    p {
      margin-top: 20px;
    }
  }

  &-comparison {
    margin-top: 50px;
    display: flex;
    font-size: 30px;
    font-weight: 800;

    & > * {
      width: 50%;
      height: 505px;
      padding: 30px;
    }

    .with-bbot {
      color: #23979a;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        margin-top: 0;
      }

      &-image {
        display: flex;
        justify-content: center;
        height: 90%;
        align-items: center;

        img {
          max-width: 100%;
        }
      }
    }

    .without-bbot {
      background-color: #ffdb20;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        margin-top: 0;
      }

      &-image {
        display: flex;
        justify-content: center;
        height: 90%;
        align-items: center;

        img {
          max-width: 100%;
        }
      }
    }
  }

  .slide1 {
    text-align: center;

    .items {
      display: flex;
      justify-content: space-around;
      margin-top: 90px;
      align-items: flex-end;

      .item {
        &-text {
          color: #23979a;
          font-size: 30px;
          font-weight: 800;
        }

        &-image {
          margin-bottom: 30px;
        }
      }
    }

    h2 {
      span {
        color: #23979a;
      }
    }
  }
}
