.frontpage-process {
  text-align: center;
  margin: 120px auto;
  max-width: 1080px;

  .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background-color: #1d9699;
    opacity: 0.2;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
  }

  .items {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 60px;
    width: 100%;

    .item {
      &-text {
        color: #23979a;
        font-size: 30px;
        font-weight: 800;
      }

      &-image {
        margin-bottom: 30px;

        &-transparent {
          opacity: 0.25;
        }
      }
    }
  }

  &-header {
    align-items: center !important;
  }

  .row {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    &-item {
      width: 30%;
      margin: 0 20px;

      &-check {
        color: #23979a;
      }

      &-cross {
        color: #e72283;
      }

      img {
        max-width: 100%;
      }

      p {
        margin-top: 30px;
        font-weight: 800;
      }
    }
  }

  .slide2 {
    display: flex;
    flex-direction: column;
    align-items: center;

    a,
    a:visited {
      margin-top: 20px;
      color: #23979a;
      text-decoration: underline;
    }
  }

  .slide-title {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 10px;

    span {
      color: #23979a;
    }
  }

  .swiper-pagination {
    position: relative;
    margin-top: 50px;

    .swiper-pagination-bullet-active {
      background-color: #23979a;
    }
  }
}
