.frontpage-glitter {
  text-align: center;
  position: relative;

  .frontpage-map {
    padding: 60px 0 64px 0;
  }

  .frontpage-map-arrow {
    display: none;
  }

  .map {
    margin: 80px auto 0 auto !important;
  }

  &-slideHeader {
    max-width: 1080px;
    margin: 0 auto;
  }

  .swiper-pagination-bullets {
    transform: translateY(-90px);
  }

  .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background-color: #1d9699;
    opacity: 0.2;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: black;
  }

  .swiper-button-next.swiper-button-disabled,
  .swiper-button-prev.swiper-button-disabled {
    transition: opacity 0.3s ease;
    opacity: 0;
  }

  .swiper-button-next {
    right: 25px;
  }

  .swiper-button-prev {
    left: 25px;
  }

  .swiper-pagination {
    position: relative;
    margin-top: 50px;

    .swiper-pagination-bullet-active {
      opacity: 1;
    }
  }

  .swiper-slide-wrapper {
    max-width: 1080px;
    margin: 0 auto;
  }

  .swiper-slide {
    h3 {
      margin-top: 20px;
      font-weight: 800;
      font-size: 50px;

      span {
        color: #23979a;
      }
    }

    p {
      margin-top: 20px;
    }
  }

  &-comparison {
    margin-top: 50px;
    display: flex;
    font-size: 30px;
    font-weight: 800;

    & > * {
      width: 50%;
      height: 505px;
      padding: 30px;
    }

    .with-bbot {
      color: #23979a;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        margin-top: 0;
      }

      &-image {
        display: flex;
        justify-content: center;
        height: 90%;
        align-items: center;

        img {
          max-width: 100%;
        }
      }
    }

    .without-bbot {
      background-color: #ffdb20;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        margin-top: 0;
      }

      &-image {
        display: flex;
        justify-content: center;
        height: 90%;
        align-items: center;

        img {
          max-width: 100%;
        }
      }
    }
  }

  .slide1 {
    text-align: center;
    padding: 90px 0;

    .items {
      display: flex;
      justify-content: space-around;
      margin-top: 90px;
      align-items: flex-end;

      .item {
        &-text {
          color: #23979a;
          font-size: 30px;
          font-weight: 800;
        }

        &-image {
          margin-bottom: 30px;
        }
      }
    }

    h2 {
      span {
        color: #23979a;
      }
    }
  }

  @media all and (max-width: 1180px) {
    &-slideHeader {
      padding: 0 30px;
    }

    .frontpage-map {
      padding: 40px 30px 80px 30px;
      text-align: center;
    }

    h2 {
      font-size: 20px !important;
      margin-top: 30px;
    }

    h3 {
      font-size: 35px !important;
    }

    .swiper-slide-wrapper {
      max-width: 700px;
    }

    .slide1 {
      .items {
        .item {
          &-text {
            font-size: 18px;
          }

          &-image {
            margin: 0 auto;

            img {
              height: 70px;
            }
          }
        }
      }
    }
  }

  @media all and (max-width: 700px) {
    .slide1 {
      .items {
        flex-direction: column;
        align-items: center;

        .item {
          margin-bottom: 50px;
        }
      }
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
      font-size: 20px;
    }

    &-comparison {
      flex-direction: column;

      .with-bbot-image,
      .without-bbot-image {
        width: 70%;
        margin: 0 auto;
      }

      .with-bbot,
      .without-bbot {
        font-size: 18px;
      }

      img {
        max-width: 100%;
      }

      & > * {
        height: 250px;
        width: 100%;
      }
    }

    .slide4 {
      img {
        height: 120px;
      }
    }
  }

  @media all and (max-width: 500px) {
    &-slideHeader {
      max-width: 1080px;
      padding: 0 30px;
    }

    .swiper-slide-wrapper {
      padding: 0 30px;
    }
  }

  @media all and (max-width: 400px) {
    h3 {
      font-size: 25px !important;
    }

    .frontpage-map {
      padding: 40px 30px 80px 30px;
    }

    .swiper-button-prev {
      left: 10px;
    }

    .swiper-button-next {
      right: 10px;
    }
  }
}
