.btob-why {
  margin: 200px 0;

  .wrap {
    max-width: 1400px !important;
    text-align: center;
  }

  h2 {
    margin-bottom: 60px;
    display: inline-block;
  }

  .swiper {
    padding: 0 100px 40px 100px;
  }

  .swiper-slide {
    width: 100%;
  }
}
