.btob-testimonials {
  margin-bottom: 100px;

  .swiper-slide {
    opacity: 0.21;
    transition: all 0.3s ease;
    transform: scale(0.7);
  }

  .swiper-slide-active {
    opacity: 1;
    transform: scale(1);
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 36px;

    img {
      max-width: 100%;
    }

    &::after {
      content: "";
    }
  }

  .swiper-button-prev {
    left: 29%;
  }

  .swiper-button-next {
    right: 29%;
  }

  .wrap {
    text-align: center;
    max-width: 1280px !important;
    width: 100%;
  }

  h2 {
    display: inline-block;
    margin-bottom: 60px;
  }

  .card {
    border: none;

    &-wrapper {
      margin-top: 30px;
      text-align: left;
      background-color: #19969a;
      position: relative;
      color: white;
      padding: 20px 30px 30px 30px;
      border-radius: 30px;
    }

    &-image {
      position: absolute;
      width: 90px;
      height: 90px;
      background-color: grey;
      border-radius: 50%;
      top: -30px;
    }

    p:first-of-type {
      font-weight: 600;
      font-size: 20px;
      padding-left: 125px;
    }

    p:last-of-type {
      margin-top: 30px;
    }
  }
}
