.btob-why {
  margin: 30px 0 200px 0;

  .wrap {
    text-align: center;
    max-width: 100% !important;
  }

  .swiper-slide-wrapper {
    max-width: 1080px;
    margin: 0 auto;
    text-align: center;
  }

  h2 {
    margin-bottom: 60px;
    display: inline-block;
  }

  .swiper {
    padding: 0 0 80px 0;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: black;
  }

  .swiper-button-next.swiper-button-disabled,
  .swiper-button-prev.swiper-button-disabled {
    transition: opacity 0.3s ease;
    opacity: 0;
  }

  .swiper-button-next {
    right: 25px;
  }

  .swiper-button-prev {
    left: 25px;
  }

  .block {
    justify-content: space-around;
  }

  &-slideItem {
    &-desc {
      margin-top: 20px;
      font-weight: 600;
      font-size: 25px;
    }

    &-title {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #23979a;
      font-size: 30px;
      font-weight: 700;

      p {
        margin-bottom: 0;
      }

      span {
        margin-right: 15px;
        color: white;
        background-color: #23979a;
        width: 60px;
        height: 60px;
        border-radius: 50%;

        p {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
        }
      }
    }
  }

  .slide1 {
    padding: 80px 0;
    display: flex;
    justify-content: space-between;

    & > * {
      width: calc(100% / 3 - 30px);
    }
  }

  .slide2 {
    .rows {
      max-width: 700px;
      margin: 30px auto 0 auto;
    }

    .row {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;

      p {
        span {
          color: #23979a;
          font-weight: 600;
        }
      }

      &:last-of-type {
        margin-top: 40px;

        p {
          flex: 1;
        }
      }

      img {
        width: 200px;
      }
    }
  }

  .slide4 {
    .btob-why-slideItem-desc {
      margin-bottom: 35px;
    }

    .items {
      display: flex;
      justify-content: center;

      img {
        height: 150px;
      }

      .item {
        width: 28%;

        p {
          margin-top: 20px;

          span {
            color: #23979a;
            font-weight: 600;
            display: block;
          }
        }
      }
    }
  }

  .slide3 {
    .items {
      display: flex;
      justify-content: center;

      .item {
        width: 30%;

        &:first-of-type {
          margin-right: 40px;
          margin-top: 40px;
        }

        p {
          margin-top: 30px;
        }
      }
    }
  }

  .slideEnd-bottom {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    align-items: center;

    &-buttons {
      display: flex;
      flex-direction: column;

      a {
        padding: 15px;
        border: none;
        font-weight: 600;
        border-radius: 12px;
        transition: all 0.3s ease;

        &:hover {
          transform: scale(0.95);
          text-decoration: none;
          cursor: pointer;
        }

        margin-bottom: 15px;
        background-color: #23979a;
        color: white;
      }
    }

    &-image {
      width: 300px;
      margin-right: 40px;
    }
  }

  @media all and (max-width: 1180px) {
    .swiper-slide-wrapper {
      padding: 0 30px;
    }

    &-slideItem {
      &-desc {
        font-size: 18px;
      }
    }
  }

  @media all and (max-width: 767px) {
    &-slideItem {
      &-title {
        font-size: 22px;

        span {
          width: 40px;
          height: 40px;
          font-size: 18px;
        }
      }
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
      font-size: 20px;
    }

    .swiper-button-next {
      right: 5px;
    }

    .swiper-button-prev {
      left: 5px;
    }

    .slide1 {
      flex-direction: column;
      padding: 0 30px;

      & > * {
        width: 100%;
        margin-bottom: 20px;
      }
    }

    .slide2 {
      .row {
        flex-direction: column;

        img {
          max-width: 40%;
        }

        p {
          font-size: 16px;
        }

        &:first-of-type {
          img {
            margin-bottom: 30px;
          }
        }

        &:last-of-type {
          img {
            margin-top: 30px;
          }
        }
      }
    }

    .slide4 {
      .items {
        flex-direction: column;

        .item {
          width: 100%;
          margin-bottom: 30px;

          img {
            height: 50px;
          }
        }
      }
    }

    .slide3 {
      padding: 0 30px;

      .items {
        flex-direction: column;

        .item {
          width: 100%;
          display: flex;
          flex-direction: column-reverse;
          align-items: center;

          &:last-of-type {
            margin-top: 30px;
          }

          img {
            max-width: 30%;
            margin-top: 20px;
            width: auto;
          }

          p {
            margin-top: 0;
          }
        }
      }
    }

    .slide5 {
      .slideEnd {
        &-bottom {
          flex-direction: column;

          &-image {
            width: 200px;
            margin-right: 0;
            margin-bottom: 30px;
          }
        }
      }
    }
  }

  @media all and (max-width: 480px) {
    &-slideItem {
      &-title {
        p {
          flex: 1;
        }
      }
    }
  }
}
