.btob-market-header {
  min-height: calc(100vh - 180px);
  display: flex;
  align-items: center;
  justify-content: center;

  .slideItem {
    text-align: center;

    &-desc {
      margin-top: 20px;
      font-weight: 500;
      font-size: 25px;
    }

    &-title {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #23979a;
      font-size: 30px;
      font-weight: 700;

      p {
        margin-bottom: 0;
      }

      span {
        margin-right: 15px;
        color: white;
        background-color: #23979a;
        width: 60px;
        height: 60px;
        border-radius: 50%;

        p {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
        }
      }
    }
  }

  .slideEnd-bottom {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    align-items: center;

    &-buttons {
      display: flex;
      flex-direction: column;

      .button-white {
        background-color: white;
        border: 2px solid #19969a;
        color: #19969a;
        padding: 13px 15px;
        text-align: center;
      }

      a {
        padding: 15px;
        border: none;
        font-weight: 600;
        border-radius: 12px;
        transition: all 0.3s ease;

        &:hover {
          transform: scale(0.95);
          text-decoration: none;
          cursor: pointer;
        }

        margin-bottom: 15px;
        background-color: #23979a;
        color: white;
      }
    }

    &-image {
      width: 300px;
      margin-right: 40px;
    }
  }

  @media all and (max-width: 767px) {
    padding: 0 30px;
  }

  @media all and (max-width: 600px) {
    padding: 0 30px;

    .slideItem {
      &-title {
        p {
          font-size: 25px;
        }
      }

      &-desc {
        font-size: 18px;
      }
    }

    .slideEnd {
      &-bottom {
        flex-direction: column;

        &-image {
          width: 200px;
          margin-right: 0;
          margin-bottom: 30px;
        }
      }
    }
  }

  @media all and (max-width: 480px) {
    padding: 30px;
    min-height: calc(100vh - 62px);

    .slideItem {
      &-title {
        p {
          font-size: 20px;
          line-height: 23px;
        }
      }

      &-desc {
        font-size: 12px;
      }
    }

    .slideEnd {
      &-bottom {
        flex-direction: column-reverse;

        &-buttons {
          flex-direction: row;

          a {
            font-size: 12px;
            padding: 10px 8px;

            &:first-of-type {
              margin-right: 8px;
            }
          }

          .button-white {
            padding: 8px 10px;
          }
        }
      }
    }
  }
}
