.btob-who {
  min-height: calc(100vh - 280px);
  padding: 40px 20px 0 20px !important;

  &-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    img {
      margin-bottom: 80px;
      width: 300px;
    }
  }

  .blocks {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;

    a {
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(0.95);
        text-decoration: none;
      }
    }

    .block {
      background-color: #19969a;
      border-radius: 15px;
      padding: 20px 15px;
      text-align: center;
      width: calc((100% / 3) - 10px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;

      &-title {
        color: white;
        text-align: center;
        font-size: 16px;
      }
    }
  }

  @media all and (max-width: 600px) {
    &-header {
      img {
        max-width: 100%;
      }
    }

    h2 {
      font-size: 24px;
    }

    .blocks {
      flex-direction: column;
      margin-top: 30px;

      .block {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
}
