.btob-who {
  .blocks {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

    .block {
      background-color: #19969a;
      color: white;
      border-radius: 15px;
      padding: 10px 15px;
      text-align: center;
      width: calc((100% / 3) - 10px);

      &-title {
        font-weight: 600;
      }
    }
  }
}
