.btob-services {
  margin-bottom: 200px;

  .wrap {
    text-align: center;
    max-width: 100% !important;
  }

  &-slideItem {
    &-content {
      display: flex;
      align-items: center;
      max-width: 90%;
      margin: 0 auto;
      margin-top: 50px;

      p {
        text-align: left;
      }

      span {
        font-weight: 600;
        color: #1d9699;
      }

      &-img {
        width: 50%;
        margin-right: 40px;

        img {
          max-width: 100%;
        }
      }
    }

    .teamDesc {
      text-align: left;
      max-width: 70%;
      margin: 20px auto 0 auto;

      span {
        font-weight: 600;
        color: #1d9699;
      }
    }
  }

  .slide-1 {
    padding: 30px 0;
  }

  .swiper-slide-wrapper {
    max-width: 1080px;
    margin: 0 auto;
  }

  .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background-color: #1d9699;
    opacity: 0.2;
  }

  .block {
    justify-content: space-around;

    &-title {
      margin-bottom: 25px;
    }
  }

  .swiper-pagination {
    position: relative;
    margin-top: 50px;

    .swiper-pagination-bullet-active {
      opacity: 1;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: black;
  }

  .swiper-button-next.swiper-button-disabled,
  .swiper-button-prev.swiper-button-disabled {
    transition: opacity 0.3s ease;
    opacity: 0;
  }

  .swiper-button-next {
    right: 25px;
  }

  .swiper-button-prev {
    left: 25px;
  }

  h2 {
    margin-bottom: 60px;
    display: inline-block;
  }

  .slideEnd-bottom {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    align-items: center;

    &-buttons {
      display: flex;
      flex-direction: column;

      a {
        padding: 15px;
        border: none;
        font-weight: 600;
        border-radius: 12px;
        transition: all 0.3s ease;

        &:hover {
          transform: scale(0.95);
          text-decoration: none;
          cursor: pointer;
        }

        margin-bottom: 15px;
        background-color: #23979a;
        color: white;
      }
    }

    &-image {
      width: 300px;
      margin-right: 40px;
    }
  }

  @media all and (max-width: 1180px) {
    .swiper-slide-wrapper {
      padding: 0 30px;
    }

    &-slideItem {
      &-desc {
        font-size: 18px;
      }
    }
  }

  @media all and (max-width: 767px) {
    .slide-1 {
      flex-direction: column;
      padding: 0 30px;

      .block-image {
        max-width: 45%;
      }

      & > * {
        width: 100% !important;
        margin-bottom: 20px;
      }
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
      font-size: 20px;
    }

    .swiper-button-next {
      right: 5px;
    }

    .swiper-button-prev {
      left: 5px;
    }

    &-slideItem {
      &-content {
        flex-direction: column;

        &-img {
          margin-bottom: 30px;
        }

        img {
          height: auto !important;
        }
      }
    }

    .slide5 {
      .slideEnd {
        &-bottom {
          flex-direction: column;

          &-image {
            width: 200px;
            margin-right: 0;
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}
