.btob-why {
  margin: 200px 0;

  .wrap {
    max-width: 1400px !important;
    text-align: center;
  }

  h2 {
    margin-bottom: 60px;
    display: inline-block;
  }

  .swiper {
    padding: 0 100px 80px 100px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: black;
  }

  .swiper-button-next.swiper-button-disabled,
  .swiper-button-prev.swiper-button-disabled {
    transition: opacity 0.3s ease;
    opacity: 0;
  }

  .swiper-slide {
    width: 100%;
  }

  .block {
    justify-content: space-around;
  }

  &-slideItem {
    &-desc {
      margin-top: 20px;
      font-weight: 400;
      font-size: 25px;
    }

    &-title {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #23979a;
      font-size: 30px;
      font-weight: 600;

      p {
        margin-bottom: 0;
      }

      span {
        margin-right: 15px;
        color: white;
        background-color: #23979a;
        width: 60px;
        height: 60px;
        border-radius: 50%;

        p {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
        }
      }
    }
  }

  .slide1 {
    padding: 80px 0;
    display: flex;
    justify-content: space-between;

    & > * {
      width: calc(100% / 3 - 30px);
    }
  }

  .slide2 {
    .rows {
      max-width: 700px;
      margin: 30px auto 0 auto;
    }

    .row {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;

      p {
        span {
          color: #23979a;
          font-weight: 600;
        }
      }

      &:last-of-type {
        margin-top: 40px;

        p {
          flex: 1;
        }
      }

      img {
        width: 200px;
      }
    }
  }

  .slide4 {
    .btob-why-slideItem-desc {
      margin-bottom: 35px;
    }

    .items {
      display: flex;
      justify-content: center;

      img {
        height: 150px;
      }

      .item {
        width: 28%;

        p {
          margin-top: 20px;

          span {
            color: #23979a;
            font-weight: 600;
            display: block;
          }
        }
      }
    }
  }

  .slide3 {
    .items {
      display: flex;
      justify-content: center;

      .item {
        width: 30%;

        &:first-of-type {
          margin-right: 40px;
          margin-top: 40px;
        }

        p {
          margin-top: 30px;
        }
      }
    }
  }
}
