.btob-testimonials {
  margin-bottom: 100px;

  .wrap {
    text-align: center;
  }

  h2 {
    display: inline-block;
    margin-bottom: 60px;
  }

  .card {
    text-align: left;
    background-color: #19969a;
    position: relative;
    color: white;
    width: 500px;
    padding: 20px 30px 30px 30px;
    border-radius: 30px;

    &-image {
      position: absolute;
      width: 90px;
      height: 90px;
      background-color: grey;
      border-radius: 50%;
      top: -30px;
    }

    p:first-of-type {
      font-weight: 600;
      font-size: 20px;
      padding-left: 125px;
    }

    p:last-of-type {
      margin-top: 30px;
    }
  }
}
