.template-btob .main,
.template-btob-market .main {
  padding: 125px 0 25px 0;

  section {
    display: flex;
    flex-direction: column;
    padding: 25px 0;
  }

  h2 {
    background-color: #19969a;
    color: white;
    border-radius: 35px;
    padding: 15px 30px;
    text-align: center;
  }

  .wrap {
    max-width: 1080px;
    margin: 0 auto;
  }

  .slide-1 {
    display: flex;
    align-items: center;
  }

  .block {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-image {
      img {
        max-width: 100%;
      }
    }

    &-title {
      display: flex;
      align-items: center;
      color: #23979a;
      font-size: 30px;
      font-weight: 600;

      p {
        margin-bottom: 0;
        flex: 1;
      }

      span {
        margin-right: 15px;
        color: white;
        background-color: #23979a;
        width: 60px;
        height: 60px;
        border-radius: 50%;

        p {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
        }
      }
    }
  }

  @media all and (max-width: 1180px) {
    .block-title {
      font-size: 22px;

      span {
        width: 40px;
        height: 40px;
      }
    }

    .block {
      &-image {
        max-width: 70%;
      }
    }
  }

  @media all and (max-width: 767px) {
    .block-image {
      img {
        max-width: 50%;
        margin-top: 10px;
      }
    }
  }

  @media all and (max-width: 500px) {
    h2 {
      font-size: 22px;
      padding: 15px;
      max-width: 90%;
      margin: 0 auto 15px auto;
    }
  }

  @media all and (max-width: 480px) {
    min-height: calc(100vh - 140px);

    h2 {
      font-size: 16px;
      padding: 10px;
      max-width: 90%;
    }

    .blocks {
      margin-top: 20px;
    }

    .block {
      padding: 15px !important;

      &-title,
      p {
        font-size: 12px !important;
      }
    }
  }
}
