.contact-choices {
  height: calc(100vh - 210px);

  .wrap {
    max-width: 1080px;
    margin: 0 auto;
    padding: 50px 0;
  }

  h2 {
    font-size: 50px;
    margin-bottom: 30px;
    color: #19969a;
  }

  .choices-list {
    border: 2px solid #e72283;
    padding: 20px;
    border-radius: 15px;
    font-size: 18px;

    &-choices {
      &-visible {
        max-height: 300px;
        opacity: 1;
      }

      margin: 0;
      opacity: 0;
      max-height: 0;
      transition: all 0.6s ease;
      overflow: hidden;
    }

    &-title {
      font-weight: 600;
      color: #e72283;
      font-size: 22px;
      display: flex;
      justify-content: space-between;

      .question-arrow {
        transition: all 0.3s ease;
        width: 20px;

        img {
          max-width: 100%;
        }

        &-clicked {
          transform: rotate(180deg);
        }
      }

      &:hover {
        cursor: pointer;
      }
    }

    ul {
      padding: 0;
    }

    li {
      list-style: none;
      color: #19969a;
      font-weight: 600;

      &:hover {
        transition: all 0.3s ease;
        color: #e72283;
        cursor: pointer;
      }
    }
  }
}
