.contact-form {
  background-color: #19969ad2;
  color: white;
  width: 100%;
  position: fixed;
  left: 0;
  height: calc(100% - 97px);
  top: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s ease;

  &-field {
    &-disabled {
      display: none;
    }
  }

  .cross {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 50px;

    &:hover {
      cursor: pointer;
    }

    img {
      max-width: 100%;
    }
  }

  &-visible {
    top: 97px;
    opacity: 100;
    visibility: visible;
  }

  h2 {
    margin-bottom: 30px;
  }

  input,
  select,
  textarea {
    margin-bottom: 15px;
  }

  &-row {
    display: flex;
    width: 100%;
    justify-content: space-between;

    &-right {
      justify-content: flex-end;
    }
  }

  .wrap {
    width: 600px;
    margin: 0 auto;
    padding: 50px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  form {
    width: 100%;
  }

  textarea {
    width: 100%;
    border-radius: 8px;
    background-color: white;
    border: none;
    padding: 8px 15px;
    color: #19969a;
    font-weight: 600;

    &::placeholder {
      color: #19969a;
      font-weight: 400;
    }
  }

  input[type=submit] {
    border-radius: 50px;
    background-color: white;
    padding: 8px 25px;
    color: #19969a;
    font-weight: 600;
    border: none;
  }

  input[type=text],
  input[type=phone],
  input[type=email],
  select {
    font-weight: 600;
    border-radius: 50px;
    background-color: white;
    border: none;
    padding: 8px 15px;
    width: calc(50% - 5px);
    color: #19969a;

    &::placeholder {
      color: #19969a;
      font-weight: 400;
    }
  }

  select {
    width: 100%;
    color: #19969a;
  }
}
