.press {
  display: flex;
  align-items: center;
  padding: 50px 0;
  max-width: 1100px;
  margin: 0 auto;

  &-image {
    width: 612px;
    margin-right: 60px;

    img {
      max-width: 100%;
    }
  }
}
