.videos-reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  button {
    background-color: transparent;
    border: none;
    color: #19969a;
    text-decoration: underline;
    font-size: 20px;
  }

  &-videos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-wrap: wrap;
    max-width: 1000px;
    max-height: 320px;
    overflow: hidden;
    transition: all 1s ease;

    &-opened {
      max-height: 2000px;
    }

    .video {
      width: calc(50% - 20px);
      overflow: hidden;
      margin-bottom: 30px;

      &-image {
        height: 250px;
        background-color: grey;
        background-size: cover;
      }

      &-text {
        background-color: red;
        overflow: hidden;
        color: white;
        padding: 10px 15px;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  @media all and (max-width: 900px) {
    padding: 0 30px;
  }

  @media all and (max-width: 767px) {
    &-videos {
      flex-direction: column;
      width: 100%;
      margin-bottom: 10px;

      .video {
        width: 100%;
        margin-bottom: 30px;

        &-image {
          background-position: center;
          height: 220px;
        }
      }
    }
  }

  @media all and (max-width: 600px) {
    padding: 0;

    .video {
      &-image {
        height: 170px;
      }
    }
  }
}
