.company-desc {
  h2 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 800;
        
    span {
      color: #19969a;
    }
  }  

  .wrap {
    max-width: 1080px;
    margin: 0 auto;
    padding: 50px 0;
  }
}