.company-desc {
  h2 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 800;

    span {
      color: #19969a;
    }
  }

  p {
    text-align: justify;
  }

  .wrap {
    max-width: 1080px;
    margin: 0 auto;
    padding: 50px 0;
  }

  @media all and (max-width: 1180px) {
    padding: 10px 30px;
  }

  @media all and (max-width: 767px) {
    h2 {
      font-size: 28px;
    }
  }
}
